body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#canvas-container {
    width: 100vw;
    height: 90vh;
    position: relative;
}

#scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    font-weight: bold;
    pointer-events: none;
    z-index: 10;
    padding: 4px 0;
}
